h1 {
  color: Orange;
  font-size: 100%
}
h2 {
  color: Magenta;
  font size: 100%
}
h3 {
  color: blue;
  font size: 100%
}

p  { font-family: "Times New Roman";
     font-style: oblique;
     color: blue;
     text-indent: 20px;
     margin-left: 10px;
}
#callout {
  background-color:pink;
  padding: 20px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 20px;
}
#content {
        background-color: green;
        width: 200px;
        min-height: 100px;
        padding: 10px;
        border: solid 1px black;
        font-size: 15px;
#body{
  background: lightyellow;
  border-width:thin;
  border-color: black;
  border width: inherit;
}
